
* {
    font-family:fantasy;
}
body {
    background-color: rgb(233, 14, 14);
  }
  
  p{
    color:ivory;
     background-color: black;
  }
  h2{
     color:ivory;
     background-color: black;
     margin-left: auto;
     margin: right auto;
     margin: 10px;
     text-align: center;
  }
  img{
      display: inline-block;
      height: 175px;
      width: 300px;
    
  }
  nav{
      text-align: center;
      color:black;
  }
  form{
      border-style:ridge;
      border-color: hsla(black, 50%, 20, 2);
      border-width: 100%;
      border-radius: 0%;
      position: relative;
      color:ivory;
      background-color: black;
      display: grid inline-flex;
    }
    .form {
        align-content:space-around;
    }
    
    #cars{
        padding-top: 0cm;
        padding-bottom: 0cm;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    #Tittle,#Date{
        padding-top: 0cm;
        padding-bottom: 0cm;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    #Attende, #Agenda, #Pmeet, #QA{
        padding-top: 0cm;
        padding-bottom: 0cm;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    button:hover{
        color:red;
    }
    .button {
        padding: 10px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        margin:10px
    }
        
    details{
        border-style: ridge;
        border-width: 100%;
        border-radius: 0%;
        position: static;
    }

    section{
        padding-top: 5%;
        text-align: center;
        padding: bottom 5%;
        padding-left: 5%;
        padding-right: 5%;
    }

    h3,summary{
        display: inline;
        color:ivory;
        background-color: black;
        text-size-adjust:initial;
    }

    summary:active{
        color: yellow;
    }
    
    ul{
    color:ivory;
     background-color: black;
    }

    li{
        text-align: center;
        color:ivory;
    }


  footer{
      text-align: center;
      color:ivory;
      background-color: black;
  }
  